@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  height: 100vh;
  background: #70b578;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

canvas {
  display: block;
  /* position: absolute; */
  border: #e5e5e5 solid 5px;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  cursor: none;
  z-index: 1;
}

.container {
  width: 100%;
  height: 50px;
  margin: 20px;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

.inner {
  width: 250px;
  height: 100px;
  padding: 10px;
}

.inner > h1 {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.centered {
  justify-content: center;
  align-items: center;
}

.score {
  margin: 0;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

#menu {
  position: fixed;
  z-index: 10;
  cursor: default; 
  background-color: #70b578;
}

#menu-inner {
  height: 200px;
  justify-content: space-around;
}

.menu-button {
  background: #e5e5e5;
  color: #395c3d;
  outline: none;
  border: none;
  width: 110px;
  height: 50px;
  cursor: pointer;  
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.8px;
}

.game-input-container {
  background: #e5e5e5;
  width: 320px;
  height: 70px;
  border-radius: 25px;
}

.game-code-input {
  background: none;
  width: 50%; 
  height: 60px;
  outline: none;
  border: none;
  padding: 0 15px;
  font-size: 28px;
  color: #70b578;
  letter-spacing: 3px;
}

.game-input::placeholder {
  color:#a0b3a2;
}

#joinGameButton {
  background: #70b578;
  color: white;
}